<h1>{PAGE_TITLE}</h1>

<!-- LET'S SHOW A LIST WITH ITEMS USING THE LIST SYNTAX. EMPTY <li> ITEMS WILL BE CREATED -->
<ul>{LIST_ITEMS}</ul>

<!-- LET'S SHOW ANOTHER LIST BUT THIS TIME USE THE LOOP SYNTAX TO ENABLE CUSTOM HTML ELEMENTS -->
<ul>
	%loop%
    <li class="custom class">{LIST_ITEM2}</li>
    %end%
</ul>


<!-- SUPPOSE YOU WANT TO HAVE MORE VARIABLES WITHIN A LOOP, LET'S SAY THE HREF LINK FOR EACH ELEMENT. YOU WILL NEED THE ARRAY TYPE -->
<p>%loop%
<a href="{TEST[]}">{LIST_WITH_URLS}</a> |
%end%
</p>

<!-- LET'S SHOW SOME OPTIONS IN THIS DROPDOWN. -->
<select id="bdfhd">
	{OPTION}
</select>


<p>&nbsp;</p>

<!-- LET'S SAY WE WANT TO SHOW A TABLE WITH SOME CONTENTS, ONLY IF WE FIND SOME RESULTS IN THE DB. IF NO RESULTS ARE FOUND, WE WANT TO SHOW A PLAIN PARAGRAPH STATING THAT THERE ARE NO RESULTS -->
%if{IFST}%	
    <table border="1" cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>title1</th>
                <th>title2</th>
            </tr>
        </thead>
        <tbody>
            {TABLE_ROWS}
        </tbody>
    </table>
%else%
	<p>Results found: {IFST}</p>
%endif%
